@charset "utf-8";
.active-bg {
  color: #fad5a1;
  background: url(../img/right.png) no-repeat 125px center, #fafafa;
}
.nav-top {
  position: fixed;
  top: 90px;
  background: #fff;
  z-index: 1;
  padding-top: 10px;
}
#r-content {
  width: 100%;
  box-sizing: border-box;
}
#r-content .top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #efefef;
}
#r-content .top .top-title {
  float: left;
  padding-left: 38px;
  line-height: 24px;
  font-size: 18px;
  height: 24px;
  background: url(../img/gallery-icon.png) no-repeat left center;
}
#r-content .bottom {
  background-color: #fefefe;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 61px;
}
#r-content .bottom > div.left {
  width: 16%;
  height: 300px;
  float: left;
}
#r-content .bottom .main .item:nth-child(odd) {
  background-color: #fff;
}
#r-content .bottom .main .item:nth-child(even) {
  background-color: #f8f5f0;
}
#r-content .bottom .right {
  width: 80%;
  float: right;
}
#r-content .bottom .right .w {
  width: 96%;
  margin: 0 auto;
}
#r-content .bottom .right .list-con {
  margin-top: 10px;
}
#r-content .bottom .right .list-con .box {
  float: left;
}
#r-content .bottom .right .list-con .box input {
  border: 1px solid #ddd;
  height: 22px;
  padding-left: 5px;
}
#r-content .bottom .right .list-con .box .time,
#r-content .bottom .right .list-con .box .importantwords {
  width: 150px;
}
#r-content .bottom .right .list-con .box .size {
  width: 42px;
}
#r-content .bottom .right .list-con .box .search {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(../img/media-search.png);
  margin-left: 10px;
  cursor: pointer;
}
#r-content .bottom .right .list-con .box i {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
#r-content .bottom .right .list-con .rbtn {
  float: right;
}
#r-content .bottom .right .list-con .rbtn > div {
  cursor: pointer;
  display: inline-block;
  width: 75px;
  background-color: #f7b547;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}
#r-content .bottom .right .list-con .rbtn .moredo {
  background: #f7b547 url(../img/s-arrow.png) 67px 20px no-repeat;
}
#r-content .bottom .right .list-con .rbtn .moredo .list {
  width: 75px;
  position: absolute;
  top: 28px;
  left: 0;
  color: #757575;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #a6a6a6;
  padding: 10px 0;
  text-align: left;
  z-index: 1;
}
#r-content .bottom .right .list-con .rbtn .moredo .list span.gt {
  font-family: "宋体";
  margin-left: 8px;
}
#r-content .bottom .right .list-con .rbtn .moredo .list .list-item {
  padding-left: 15px;
}
#r-content .bottom .right .list-con .rbtn .moredo .morefile {
  position: relative;
  cursor: pointer;
}
#r-content .bottom .right .list-con .rbtn .moredo .morefile input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#r-content .bottom .right .list-con .rbtn .upload input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#r-content .bottom .right .content2 {
  margin-top: 10px;
  width: 800px;
}
#r-content .bottom .right .content2 .item {
  display: inline-block;
  width: 116px;
  height: 116px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
#r-content .bottom .right .content2 .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#r-content .bottom .right .content2 .item .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  display: none;
}
#r-content .bottom .right .content2 .item s {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  background: url(../img/media-right.png);
  display: none;
}
#r-content .bottom .right .content1 {
  width: 100%;
  margin-top: 10px;
}
#r-content .bottom .right .content1 .header span,
#r-content .bottom .right .content1 .main .item span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#r-content .bottom .right .content1 .header span:nth-child(1),
#r-content .bottom .right .content1 .main .item span:nth-child(1) {
  width: 3%;
  padding-left: 2%;
}
#r-content .bottom .right .content1 .header span:nth-child(2),
#r-content .bottom .right .content1 .main .item span:nth-child(2) {
  width: 25%;
}
#r-content .bottom .right .content1 .header span:nth-child(3),
#r-content .bottom .right .content1 .main .item span:nth-child(3) {
  width: 20%;
}
#r-content .bottom .right .content1 .header span:nth-child(4),
#r-content .bottom .right .content1 .main .item span:nth-child(4) {
  width: 10%;
}
#r-content .bottom .right .content1 .header span:nth-child(5),
#r-content .bottom .right .content1 .main .item span:nth-child(5) {
  width: 40%;
  cursor: pointer;
}
#r-content .bottom .right .content1 .header {
  line-height: 40px;
  background-color: #fafafa;
  height: 40px;
  color: #03a9f4;
}
#r-content .bottom .right .content1 .main {
  color: #8c8c8c;
}
#r-content .bottom .right .content1 .main .item {
  border-bottom: 1px solid #dddddd;
  height: 55px;
  line-height: 55px;
}
.curSelectedNode {
  background-color: #FFE6B0 !important;
  color: black !important;
  border: 1px #FFB951 solid !important;
  opacity: 0.8;
}
.ztreeBox {
  width: 400px;
  height: 236px;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #a6a6a6;
  background-color: #fff;
}
.ztreeBox .ztree {
  height: 200px;
  overflow: auto;
}
.ztreeBtn {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ztreeBtn > div {
  width: 200px;
  height: 36px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  border-radius: 3px;
  cursor: pointer;
}
.ztreeBtn .sureBtn {
  float: left;
  background-color: #03a9f4;
}
.ztreeBtn .cancelBtn {
  float: right;
  background-color: #d8d8d8;
}
/*分页样式end*/
.filelist {
  width: 600px;
  position: fixed;
  z-index: 2;
  top: 100px;
  right: 200px;
  background-color: skyblue;
}
.filelist span {
  margin-left: 5px;
}
.progress {
  width: 300px;
  height: 10px;
  border: 1px solid #63B8FF;
  border-radius: 5px;
  text-align: center;
  line-height: 10px;
  font-size: 0.8em;
  display: inline-block;
}
.progressbar {
  height: 100%;
  width: 0;
  background: #BFEFFF;
  border-radius: 5px;
  z-index: -1;
  background-size: 30px 30px;
  background-image: -webkit-linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
  background-image: -moz-linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
  background-image: linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
  -webkit-animation: animate 1.5s linear infinite;
  -moz-animation: animate 1.5s linear infinite;
  animation: animate 1.5s linear infinite;
}
@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}
.i1 {
  background-image: url(../img/switch2.png);
}
.i11 {
  background-image: url(../img/switch1.png);
}
.i2 {
  background-image: url(../img/switch3.png);
}
.i22 {
  background-image: url(../img/switch4.png);
}
/*存储空间大小*/
.storage {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  line-height: 24px;
  margin-left: 20px;
  font-size: 16px;
}
/*是否中断视频上传*/
.continueUpload {
  position: fixed;
  width: 500px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -250px;
  color: #757575;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #a6a6a6;
  padding: 10px;
  display: none;
  z-index: 10002;
}
.continueUpload h1 {
  font-size: 15px;
  line-height: 25px;
}
.continueUpload .btn {
  margin-top: 30px;
}
.continueUpload .sure,
.continueUpload .cancel {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
}
.continueUpload .sure {
  background-color: #03a9f4;
}
.continueUpload .cancel {
  background-color: #d8d8d8;
}
